@import ../../template/variables

.basket-page__gift
  margin-bottom: map-get($indent, md)

.basket-page__price-basket
  margin-bottom: map-get($indent, md)

.basket-page__price-basket
  border-top: 1px solid map-get($colors, lightgrey)
  border-bottom: 1px solid map-get($colors, lightgrey)
  padding-top: map-get($indent, s)
  padding-bottom: map-get($indent, s)

  @media(min-width: 768px)
    padding-top: 0
    border: 0
