include ../delivery/delivery.pug
include ../modal.payment/modal-payment.pug

.shipping
  .shipping__select
    +modalPayment('Выберете службу доставки')
  .shipping__bottom
    .shipping__change
      button.button Выбрат пунт самовывоза
