ul.pagination
  li.pagination__item
    p.pagination__label назад
  - for (var i = 1; i < 4; i++)
    li.pagination__item
      p.pagination__label=i
  li.pagination__item
    p.pagination__label вперед