.ribbon
  .container
    .ribbon__slider.slick
      div
        p.para Какая-нибудь реклама новой коллекции
        a(href="#").text-link Скорее купить
      div
        p.para Какая-нибудь другая реклама sale
        a(href="#").text-link sale