ul.price-basket
  li.price-basket__item
    span.price-basket__title Стоимость заказа
    span.price-basket__cost 1 500 P
  li.price-basket__item
    span.price-basket__title Скидка
    span.price-basket__cost 500 P
  li.price-basket__item
    span.price-basket__title К оплате
    span.price-basket__cost  1 000 P
