include ../accordion-mob/accordion-mob.pug
- var description = 'Коллаборация DNK&Смешарики - стильная, яркая коллекция, где у каждой вещи так же, как у каждого героя одного из самых популярных мультсериалов - свой яркий характер. С DNK легко выглядеть круто. И новая коллекция этому доказательство. Ведь не только дети любят мультики, но и нам, взрослым, так необходимо сохранить эту частичку детства в своей душе.'

.product.row
  .col-12.col-md-5
    include ./slider.pug
  .product__info.col-12.col-md-6
    .product__header
      h3.product__name Костюм DNK&СМЕШАРИКИ черный
      p.product__collection смешарики
      p.product__price 2 500 ₽

    .product__body
      p.product__link
        span Таблица размеров

      .product__offers
        include ../offers.product/offers-product.pug

      .product__data.d-none.d-md-block
        i.product__emphasis В наличии 
          span много
        i.product__emphasis доставка 
          span от 3-х дней
      a(href='#family').product__link
        span посмотреть family look

      .product__quantity
        p.product__quantity-title количество
        include ../count/count.pug

      .product__button-buy
        button.button В корзину

  .col-12
    ul.product__details.row
      li.col-12.col-md-6
        .product__property
          h3.subtitle.accordion__title Общие параметры
          .accordion__body.product__block
            .accordion__wrapper
              include ../product.property/product-property.pug

      li.col-12.col-md-6
        .product__property
          h3.accordion__title.subtitle Параметры размера
          .accordion__body.product__block
            .accordion__wrapper
              include ../product.property/product-property.pug

      li.col-12
        div(property="description").product__property.product__property--last
          h3.accordion__title.subtitle.d-md-none Описание
          .accordion__body.product__block
            .accordion__wrapper
              p.product__description=description
