extends ../../template/template.pug

block variables
  - var titlePage = 'Какая-то вещь'
  - var pageNameClass = 'product'

block content
  section.product__product
    .container
      include ../../components/product/product.pug

  section(id='family').product__recommend
    .container
      .product__recommend-inner.accordion
        h3.product__subtitle.subtitle.accordion__title Family look
        .accordion__body.product__catalog
          .accordion__wrapper
            include ../../components/catalog.family/catalog-family.pug

  section.product__recommend
    .container
      .product__recommend-inner.accordion
        h3.product__subtitle.subtitle.accordion__title Идеи для образа
        .accordion__body.product__catalog
          .accordion__wrapper
            include ../../components/catalog.look/catalog-look.pug

  section.product__recommend
    .container
      .product__recommend-inner.accordion
        h3.product__subtitle.subtitle.accordion__title Просмотренные товары
        .accordion__body.product__catalog
          .accordion__wrapper
            include ../../components/catalog.viewed/catalog-viewed.pug

  section.product__user-help
    .container
      .product__recommend-inner
        include ../../components/user.help/user-help.pug
