@import '../../template/variables.sass';
@import '../../mixins/mixins.sass';

// @mixin border($class)
//     @include media(768px)
//     .product__#{$class}
      // padding-bottom: map-get($indent, sm)
      // border-bottom: 1px solid map-get($colors, grey)
      // padding-bottom: map-get($indent, md)
      // padding-top: map-get($indent, md)
    

// $sections: ('product', 'catalog-look', 'catalog-recommended')

// @each $val in $sections
//   @include border($val)

.product__recommend-inner
  // line-height: 1
  // border-top: 1px solid map-get($colors, grey)
  border-bottom: 1px solid map-get($colors, grey)
  padding: map-get($indent, sm) 0
  
  @include media(768px)
    border: none
    padding: map-get($indent, l) 0

.product__recommend
  @include media(768px)
    // border-top: 1px solid map-get($colors, grey)
    border-bottom: 1px solid map-get($colors, grey)

.product__product
  @include media(768px)
    border-bottom: 1px solid map-get($colors, grey)

.product__subtitle
  @media(min-width: 768px)
    margin-bottom: map-get($indent, m) !important
    text-align: center

.product__catalog
  @media(min-width: 768px)
    max-height: 100% !important

.product__catalog-wpapper
  padding-top: map-get($indent, s) !important