.gift
  input.gift__input.input(type=type, placeholder='Введите подарочный сертификат', value=value)
  .gift__button
    button.button Применить
//- .gift
//-   .row
//-     .gift__body.col-12.col-md-4
//-       input.gift__input.input(type=type, placeholder='Введите подарочный сертификат', value=value)
//-       .gift__button
//-         button.button Применить
//-     .col-12.col-md-8
//-       .info-block.info-block--white
//-         p Купоны не действуют, если стоимость купона меньше стоимости Вашего заказа. Купон не распространяется на 
//-           | доставку, если не указано обратное. Если Вы не можете применить купон обратитесь в службу технической поддержки подарочный
//-           | телефону 
//-           a(href='tel:8-918-851-38-33') 8-918-851-38-33
//-           |  или по электронной почте 
//-           a(href='mailto:a.secret@dnk-russia.com') a.secret@dnk-russia.com