ul.price-payment
  li.price-payment__item
    span.price-payment__title Стоимость заказа
    span.price-payment__cost 1 500 P
  li.price-payment__item
    span.price-payment__title Скидка
    span.price-payment__cost 500 P
  li.price-payment__item
    span.price-payment__title Доставка
    span.price-payment__cost 230 P
  li.price-payment__item
    span.price-payment__title К оплате
    span.price-payment__cost  1 000 P
