.range-slider
  .range-slider__price-controls
    .range-slider__price
      input(input-type='min', value='1000').input
    .range-slider__price
      input(input-type='max', value='3000').input
  .range-slider__controls
    .range-slider__scale
      .range-slider__progress
    div(handle-type='min').range-slider__handle
    div(handle-type='max').range-slider__handle

//- .toggle
//-   .toggle__label
//-     .toggle__input-block
//-       input(value=2000).toggle__input.toggle__input--min
//-     .toggle__input-block
//-       input(value=3000).toggle__input.toggle__input--max
//-   .toggle__bar
//-     .toggle__bar-progress
//-     .toggle__handle.toggle__handle--min
//-     .toggle__handle.toggle__handle--max

