@import ../../template/variables
@import ../../mixins/mixins

.accordion
  &--active
    .accordion__body
      max-height: none

.accordion__title
  position: relative


  &:before
    position: absolute
    right: 10px
    content: '\002B'
    @media(min-width: 768px)
      content: none

  .active &:before
    content: '\2212'

    @media(min-width: 768px)
      content: none

.accordion__body
  max-height: 0
  box-sizing: border-box
  overflow: hidden
  transition: max-height 0.3s ease-out

.accordion__wrapper
  padding-top: map-get($indent, sm)
  @media(min-width: 768px)
    padding-top: 0